{{range .Values.Secrets.DockerRegistries}}

kind: Secret
apiVersion: v1

metadata:
  name: {{.Registry | default "credentials-docker-registry"}}
  namespace: {{$.Release.Namespace}}

type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{printf "{\"auths\": {\"%s\": {\"auth\": \"%s\"}}}" (.Hostname) (printf "%s:%s" .Username .Password | b64enc) | b64enc }}

---

{{end}}
